@charset "ISO-8859-1";




a{
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 30px;
	
}






table {
	width: 500px;
	display: flex;
	margin-left: 100px;
	margin-top: 30px;
	table-layout: fixed;
				
}

th{
	width: 180px;
}

h1{
	text-align: center;
	padding-bottom: 30px;
	
}

.agregar{
	text-decoration: none;
	margin-left: 100px;
	background: #0F8BD5;
	padding: 13px;
	color: white;
	margin-top: 100px;
	border-radius: 10px;
	
	
}

.agregar:hover{
	background-color: #2F6F95; 
    color: white;
}

.vinculo{
	text-decoration: none;
	margin-left: 10px;
	font-weight: bold;
}




