@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	
}

form{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 200px;
	
}

form .inputs{
	padding: 20px;
	height: 10px;
	width: 300px;
} 

form .contenedor{
	display: flex;
	flex-direction: column;
	
	
}

form .contenedor h1{
	text-align: center;
	margin: 30px;
	font-size: 50px;
}

form .contenedor .label{
	font-weight: bold;
	font-size: 20px;
}

form .contenedor .boton{

	text-align: center;
	height: 40px;
	background-color: #54B9FF;
	font-size: 17px;
	border: 1px solid #21ADCA;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	
}

form .contenedor .boton:hover {
    background-color: #0C8CA6; 
    color: white;
}






