@charset "ISO-8859-1";

body{
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	
	
}

form{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 230px;
	margin-top: 0px;
	margin-bottom: 50px;
	
	
	
}

form .inputs{
	display:flex;
	flex-direction:column;
	margin-bottom: 8px;
	padding: 16px;
	height: 10px;
	width: 380px;
} 

form .contenedor{
	
	display: flex;
	flex-direction: column;
	
	
}

 h1{
 	padding-top: 2px;
 	padding-bottom:20px;
	text-align: center;
	
	font-size: 50px;
}

form .contenedor .label{
	font-size: 18px;
	font-weight: bold;
	
}

form .contenedor .boton{

	text-align: center;
	height: 40px;
	background-color: #54B9FF;
	font-size: 17px;
	border: 1px solid #21ADCA;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    width: 380px;
    margin-top: 12px;
    margin-bottom: 50px;
	
}

form .contenedor .boton:hover {
    background-color: #0C8CA6; 
    color: white;
}

.img{
	margin-right: 10px;
}
